<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace= "template :: head">
	</head>

	<body>
		<header id="exterior-header">
			<h1>planit</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href= "/login">login</a></li>
				<li><a href= "/signup">signup</a></li>
			</ul>
		</nav>
		
		<section>
			<h2>The planning solution</h2>
		
			<article>
				<p>Whether it's just you and your wife, or you're planning a LAN, or whatever. You need this fantastic web-app in your life!</p>
			</article>
			
			<article>
				<p>These are more reasons why you should just sign up.</p>
				<ol>
					<li>Reasons</li>
					<li>Reasons</li>
					<li>Reasons</li>
					<li>Reasons</li>
					<li>Reasons</li>
					<li>Reasons</li>
					<li>Reasons</li>
				</ol>
			</article>
			
			<article>
				<p>Seriously, just sign on the dotted line, man!</p>
			</article>
			
			<div><a href= "/signup">signup</a></div>
		</section>
		
		<div th:replace= "template :: foot"></div>
	</body>

</html>