<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

	<head th:replace="template :: head">
	</head>
	
	
	<body>
		
		<form action="@{/signup}" method="post">
			<label for="username">username</label>
			<input type="text" name="username">
			<label for="password">password</label>
			<input type="password" name="password">
			<label for="verify">verify password</label>
			<input type="password" name="verify">
			<label for="email">email</label>
			<input type="email" name="email">
			<input type="submit">
		</form>
		
		<div th:replace="template :: foot"></div>
		
	</body>
	
</html>