<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

	<head th:fragment="head">
		<link th:href="@{/css/normalize.css}" rel="stylesheet" />
		<link th:href="@{/css/styles.css}" rel="stylesheet" />
		<title>planit</title>
	</head>
	
	<body>
	
	
		<!-- This is used only after signing in -->
		<nav th:fragment="navigation" id="navigation">
			<img alt="Logo" src="@{/images/logo.jpg}"> 
			<img alt="ProfilePic" src="@{/images/user.png}">
			<a href="/group/${username}">username</a>
			
			<ul>
				<li><a href="/dashboard">dashboard</a></li>
			</ul>
		</nav>
		
		
		
		<footer th:fragment="foot" id="foot">
			<p>legal stuff to add later</p>
		</footer>
	
	</body>

</html>